1.tuple is another seq data type. it is initiated by parenthesis. it is immutable and mostly used to store hetrogenous datatype.

In [3]:
t=(1,2,3)
print(type(t))
print(t.count(1))
print(t.index(1))
'''tuple is imuutable and that's why only has limited methods as compared to mutable list'''

<class 'tuple'>
1
0

In [4]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

In [13]:
x={1,2,3}
y={2,3,4}
print(y.union(x))#return the union of 2 set
print(y.update(x)) #add unique element of x in y
print(y)#modifed y by update
print(x)#unmodified coz only union took place i.e (a operation among set)

{1, 2, 3, 4}
None
{1, 2, 3, 4}
{1, 2, 3}

5.#dict() initiates dict a mapping data set which is ordered and under curly braces. unlike seq dat types where elemnts are indexed in dict elemnts are in the form of key value pair. each key is unique and immutable whereas value can be of mutable class.

In [15]:
dic={1:{'hey':222,'bye':333},}
print(dic)

{1: {'hey': 222, 'bye': 333}}

In [28]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics", ['Python', "Machine Learning" , "Deep Learning"])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [32]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.keys()
dict1.items()
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])